In [2]:
%matplotlib inline

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
from matplotlib.ticker import MultipleLocator
import os

In [13]:
#Load the csv_files
file_to_load_1 = os.path.join('Resources','city_data.csv')
file_to_load_2 = os.path.join('Resources','ride_data.csv')

In [27]:
#Read the files
city_data_df = pd.read_csv(file_to_load_1)
ride_data_df = pd.read_csv(file_to_load_2)
city_data_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

In [34]:
#Get the number of null rows in a dataframe
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [39]:
#Check the data type for driver_count column
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [40]:
#Get the unique values of the type of city
set(city_data_df['type'])

{'Rural', 'Suburban', 'Urban'}

In [42]:
#Get the number of data points for urban cities
sum(city_data_df['type']=='Urban')

66

In [43]:
#Get the number of data points for Suburban cities
sum(city_data_df['type']=='Suburban')

36

In [44]:
#Get the number of data points for Rural cities
sum(city_data_df['type']=='Rural')

18

In [47]:
#Inspect Ride Data Frame
## Check if there are null values in the dataframe

ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [48]:
#Determine data types for each column
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [49]:
pyber_data_df = pd.merge(ride_data_df,city_data_df,how='left',on=['city','city'])
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban